<div class="dashborad-box">
  <h4 class="title">My Account</h4>
  <div class="section-body">
    <div *ngIf="config.getGlobalVar('theme') === 'default'">
      <div class="row">
        <div
          class="col-md-4 col-xs-12"
          *ngIf="(configs$ | async).general.media"
        >
          <app-banneruploader
            [Info]="User"
            [MediaSettings]="(configs$ | async).general.media"
            (OnCropped)="onImageUploaded($event)"
          ></app-banneruploader>
        </div>
        <div class="col-md-8 col-xs-12">
          <h3 class="m-b-10" *ngIf="User.firstname !== null">
            {{ User.firstname }} {{ User.lastname }}
          </h3>
          <h3 class="m-b-10" *ngIf="User.firstname === null">My Account</h3>
          <hr />
          <!--<p class="m-t-0 m-b-5">
                        Last Login: {{ User.customize_last_login }}
                    </p>-->
          <p class="m-t-0 m-b-5">
            Account Created: {{ User.customize_register_date }}
          </p>
          <hr />
          <p class="m-t-0 m-b-5">
            Asked Questions: {{User.stats.stat_qa}}
          </p>
          <p class="m-t-0 m-b-5">Answered Questions: {{User.stats.stat_qaanswers}}</p>
          <p class="m-t-0 m-b-5">Favorited Questions: {{User.stats.stat_qa_fav}}</p>
         
        </div>
      </div>
    </div>
 
  </div>
</div>

<app-smqa-list
  [type]="0"
  [title]="'My Questions'"
  [rout_url]="'/my-qa'"
  [browse_url]="'/my-qa'"
></app-smqa-list>

