<div *ngIf="!isAccessGranted">
  <h2 class="m-b-40 m-t-40 text-center">Access Denied</h2>
</div>
<div *ngIf="isAccessGranted">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="m-b-0">{{ formHeading }}</h4>
        </div>
        <div class="card-body">
          <app-loader *ngIf="showLoader"></app-loader>

          <dynamic-modal-form
            *ngIf="!showLoader && Categories.length > 0"
            [controls]="controls"
            [showLoader]="showLoader"
            [showCancel]="false"
            [showModal]="false"
            [submitText]="submitText"
            (OnSubmit)="SubmitForm($event)"
          >
          </dynamic-modal-form>

          <div *ngIf="Categories.length === 0">
              <h3>No Categories Found</h3>
              <p>Please add one or more categories via <mark>Settings -> Categories</mark> Management Section</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
