@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Media> mediaSettings
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.General> generalSettings
@inject IStringLocalizer<qaResource> qaResource
<header>
    <partial name="~/Views/themes/default/partials/_tnav.cshtml" />

    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-4 align-self-start">
                <div class="logo">
                    <a href="@Config.GetUrl()">
                        <img class="img-responsive" alt="@generalSettings.Value.website_title" src="@mediaSettings.Value.logo_path">
                    </a>
                </div>
            </div>
            <div class="col col-md-2 col-sm-2 hidden-xs">
            </div>
            <div class="col col-md-6 col-sm-6 align-self-end">
                <div class="search-container">
                    @{
                        /******************************************
                        // Main Search Panel Processing Logic
                        /******************************************/
                        var SearchType = 0;
                        var SearchPlaceholder = GeneralResource["_search"].Value;
                        var SearchIcon = "fa fa-book";
                        var showButton = true;
                        var buttonText = qaResource["_ask"].Value;
                        var buttonIcon = "fa fa-comment";
                        var buttonUrl = Config.GetUrl("qa/ask");

                        var _searchViewModel = new SearchListModel()
                        {
                            Controller = "qa",
                            Action = "queryresult",
                            PlaceHolder = SearchPlaceholder,
                            SearchIcon = SearchIcon,
                            SearchType = SearchType,
                            showButton = showButton,
                            ButtonText = buttonText,
                            ButtonIcon = buttonIcon,
                            ButtonUrl = buttonUrl
                        };
                    }
                    <partial name="~/Views/themes/default/partials/_mainSearch.cshtml" model="_searchViewModel" />

                </div>
            </div>

        </div>

        <partial name="~/Views/themes/default/partials/_tMenu.cshtml" />
    </div>

</header>

