
<app-loader *ngIf="loading$ | async"></app-loader>
<div *ngIf="!(loading$ | async)">
  <div *ngIf="Data.length > 0">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped no-wrap">
        <thead>
          <tr>
            <th>
              <div class="checkbox">
                <input
                  [(ngModel)]="selectall"
                  (ngModelChange)="processChange()"
                  id="selectall"
                  type="checkbox"
                />
                <label class="p-b-0 p-t-0" for="selectall"></label>
              </div>
            </th>
            <th class="text-nowrap">
              <span *ngIf="BadgeType === 1">Badge</span>
              <span *ngIf="BadgeType === 2">Reward</span>
            </th>
            <th
              class="text-nowrap"
              *ngIf="BadgeType === 2 || BadgeType === 5 || BadgeType === 6"
            >
              Credits
            </th>
            <th class="text-nowrap" *ngIf="BadgeType === 6">
              Price
            </th>
            <th class="text-nowrap" *ngIf="BadgeType === 3 || BadgeType === 4">
              XP
            </th>
            <th class="text-nowrap" *ngIf="BadgeType === 3">
              Level
            </th>
            <th class="text-nowrap">
              Title
            </th>
            <th class="text-nowrap">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            [@fadeIn]="''"
            [hidden]="item.isdeleted"
            *ngFor="let item of Data; trackBy: getKey; let i = index"
          >
            <td style="width:5%;">
              <div class="checkbox">
                <input
                  [(ngModel)]="item.Selected"
                  id="{{ item.id }}"
                  (ngModelChange)="checkChange()"
                  type="checkbox"
                />
                <label for="{{ item.id }}"></label>
              </div>
            </td>
            <td>
              <img
                class="thumbnail"
                style="width:68px; height:auto;"
                src="{{ item.img_url }}"
              />
            </td>
            <td *ngIf="BadgeType === 2 || BadgeType === 5 || BadgeType === 6">
              {{ item.credits }}
            </td>
            <td *ngIf="BadgeType === 6">${{ item.price }}</td>
            <td *ngIf="BadgeType === 3 || BadgeType === 4">
              {{ item.xp }}
            </td>
            <td *ngIf="BadgeType === 3">
              {{ item.ilevel }}
            </td>
            <td>
              <h4>{{ item.title }}</h4>
              <div [innerHTML]="item.description"></div>
            </td>

            <td class="text-nowrap">
              <a
                href="#"
                (click)="showCode(item, i, $event); (false)"
                title="Show Code"
                data-toggle="tooltip"
                data-original-title="Code"
              >
                <i class="fa fa-book text-inverse m-r-10"></i>
              </a>
              <a
                [routerLink]="[
                  '/settings/gamify/process/' + item.id + '/' + item.type
                ]"
                data-toggle="tooltip"
                data-original-title="Edit"
              >
                <i class="fa fa-pencil text-inverse m-r-10"></i>
              </a>
              <a
                (click)="delete(item, i, $event); (false)"
                href="#"
                data-toggle="tooltip"
                data-original-title="Close"
              >
                <i class="fa fa-close text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-norecord *ngIf="Data.length === 0"></app-norecord>
</div>

<div class="text-center content-group-lg pt-20">
  <pagination
    [currentPage]="(pagination$ | async).currentPage"
    [totalRecords]="(pagination$ | async).totalRecords"
    [pageSize]="(pagination$ | async).pageSize"
    (OnSelection)="PaginationChange($event)"
  >
  </pagination>
</div>
